{% extends 'layout.html' %}

{% block content %}
<div style="padding: 30px"/>
        <h3 class="text-center">File Uploaded!</h3>
</br>
</br>

<div style=\"padding: 10px\"/>
        <h5 class="text-center">Your file is located at <a href="https://uploads.trihard.space/{{ filename }}">https://{{ site }}/{{ filename }}</a></h5>
<div style=\"padding: 50px\"/>
</br>
</br>
        <h6 class="text-center">Want to upload another file? <a href=https://trihard.space/uploader>Click here!</a> </h6>

{% endblock %}
